
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: $prime-text-color;
 }

 img{
  display: block;
  max-width: 100%;
  height: auto;
  }

 ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p, h1, h2, h3, h4, h5{
    margin: 0;
  }

  .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

  .container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}