.footer {
  padding: 60px 0;
  background-color: $bg-color;
}

.footer__block {
  display: flex;
  align-items: baseline;
}

.footer__start {
  margin-right: 70px;
}

.footer__logo {
  margin-bottom: 20px;
}

//  ---footer join---

.footer__join {
  margin-right: 93px;
}

.join__title,
.sign-up__caption {
  margin-bottom: 20px;
  font-size: $font-size;
  line-height: 1.17;
  text-transform: uppercase;
  color: #fff;
}

//  ---footer sign-up---

.footer__sign-up {
  width: 570px;
}

.sign-up__block {
  display: inline-flex;
  width: 100%;
}

.sign-up__label {
  display: flex;
  height: 50px;
  width: 358px;
  margin-right: 12px;
}

.sign-up__input {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.12);
  background-color: $bg-color;
}

.sign-up__btn {
  display: flex;
  align-items: center;
  @extend .prime-btn;
}

.sign-up__icon-send {
  margin-left: 10px;
  fill: #fff;
}
