.footer{ 
  padding: 60px 0;
  background-color:$bg-color;
}

.footer__block{
  display: flex;
  align-items: baseline;
}

.footer__start{
    margin-right: 70px;}

.footer__address{
  font-style: normal;
  line-height: 1.5;
}

.footer__address__list{
  display: block;
  margin-bottom: 0;
}

.footer__address__item{
   margin-bottom: 9px;
}

.footer__address__one{
 color: $c-color;
 text-decoration: none;
}

.footer__address__link{
  color: $c3-color;
  text-decoration: none;
  transition: color $transition;
 &:hover, &:focus{
  color: $prime-color;
}}

//  ---footer middle--- 

.footer__middle{
  margin-right: 93px;
}

.footer__middle__title,
.footer__final__caption{
  margin-bottom: 20px;
  font-size: $font-size;
  line-height: 1.17;
  text-transform: uppercase;
  color: $c-color;
}

/* footer final */

.footer__final{
  width: 570px;}

.footer__final__block{
  display: inline-flex;
  width: 100%;
}

.footer__final__label{
  display: flex;
  height: 50px;
  width: 358px;
  margin-right: 12px;
}

.footer__final__input{
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: none;
  outline: 1px solid $c10-color;
  color: $c9-color;
  background-color: $bg-color;
}

.footer__final__btn{
   display: flex;
   align-items: center;
   @extend .prime-btn
 }

.footer__final__icon-send{
  margin-left: 10px;
  fill: $c-color;
}
