.header__block{
  display: flex;
  align-items: baseline;
}

.header{
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px ;
  padding-bottom: 25px;
} 

.header__contact-list{ 
  display: flex;
  margin-left: auto;
}

.header__icon{
  fill: currentColor;
  margin-right: 10px;
}

.header__item{
  margin-right: 30px;}

.header__link{
  @extend %link;
    color: $prime-text-color;
 &:hover, &:focus{
    color: $prime-color;
}}