
.hero{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $c7-color;
  background-image: linear-gradient(to right,
   rgba(47, 48, 58, 0.4) 34%, rgba(47, 48, 58, 0.2) 66%,
  rgba(47, 48, 58, 0.4)),  url(../img/h-d.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.hero__title{
  font-size: $fz4;
  font-weight: 900;
  line-height: (60 / 44);
  letter-spacing: 0.06em;
  text-align: center;
  color: $c-color;
  margin-bottom: 30px;
}