.icon-list{
display: flex;
justify-content: center;}

.icon__item{
  margin-right: 10px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: $c5-color;
  transition: background-color $transition, fill $transition;
 &:focus, &:hover{
    fill: $c-color;
    background: $prime-color;
 }}

.icon--dark-theme{
  fill: $c-color;
  background: $c6-color;}