.logo{
  font-size: $fz2;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: Raleway, sans-serif;
  text-decoration: none;
}
.logo__web{
  color: $prime-color;}

.logo__studio{
  color: #000;}

.header__logo{
  display:flex ;
  margin-right: 93px;
}

.footer__logo{
  display:flex;
  margin-bottom: 20px;
}

.footer__logo--dark-theme{
  color: #fff;  }


