.nav__menu-list {
  display: flex;
}

.nav__item {
  margin-right: 50px;
}

.nav__link {
  @extend %link;
  color: $prime-title-color;
  &:focus,
  &:hover {
    color: $prime-color;
  }
}

.nav__link--current {
  position: relative;
  color: $prime-color;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: $prime-color;
    border-radius: 2px;
    top: 41px;
  }
}
