  $prime-color: #2196F3;
  $second-color: #188CE8;
  $prime-title-color:#212121;
  $prime-text-color:#757575;
  $bg-color:#2F303A;
  $c-color: #ffffff;
  $c1-color: #ECECEC;
  $c2-color: #F5F4FA;
  $c3-color: rgba(255, 255, 255, 0.6);
  $c4-color: #EEEEEE;
  $c5-color: #AFB1B8;
  $c6-color: rgba(255, 255, 255, 0.1);
  $c7-color: #C4C4C4;
  $c8-color: rgba(117, 117, 117, 0.5);
  $c9-color: rgba(255, 255, 255, 0.12);
  $c10-color: rgba(255, 255, 255, 0.3);
  $c11-color: #F5F4FA;
  $c12-color: rgba(47, 48, 58, 0.8);
  $d-color: #000000;
  $d1-color: rgba(0, 0, 0, 0.1);
  $d2-color: rgba(0, 0, 0, 0.15);
  $d3-color: rgba(0, 0, 0, 0.12);
  $d4-color: rgba(0, 0, 0, 0.14);
  $d5-color: rgba(0, 0, 0, 0.2);
  $d6-color: rgba(33, 33, 33, 0.2);
  $d7-color: rgba(0, 0, 0, 0.08);
  $d8-color: rgba(0, 0, 0, 0.06);
  $d9-color: rgba(0, 0, 0, 0.16);
  $title-gap: 50px;
  $list-gap: 15px;
  $item-title-gap: 10px;

  $transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  $font-size: 14px;
  $fz: 16px;
  $fz1: 18px;
  $fz2: 26px;
  $fz3: 36px; 
  $fz4: 44px;